.smallnav
{
    background-color: #30A4D5; 
}

/*end of big navbar*/
.CONTENT-SLIDER
{
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 6;
}
.SEARCH-button2
{
    background: #30A4D5;
    border-radius: 20px;
    border: none;
}
.SEARCH-button2:hover
{
    background-color: #E57C48;
}
.CONTENT-SLIDER2
{
    position: absolute;
    bottom: 3%;
    left: 6%;
    z-index: 6;
}
.SEARCH-SLIDER
{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin: auto;
    text-align: center!important;
}
.SEARCH-button
{
    height: 50px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: auto;
}
.END-slider
{
    background-color: #E57C48;
    width: 53px;
    height: 54px;
}
.ICONS
{
    font-size: 30px;
    text-align: center; 
    opacity: .77;
}
/*end of slider*/

.section3
{
    height: 85vh !important;
}
.TEXT-OF-PHOTO
{
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 40%;
    font-weight: bolder;
}
.SCALLE
{
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 17px 0 rgba(0, 0, 0, 0.11);
}
.SCALLE img
{
    width: 100%;
    height: 100%;
    transition: .3s .2s transform;
}
.SCALLE:hover img
{
    transform: scale(2,2);
}
.card
{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 17px 0 rgba(0, 0, 0, 0.11);
}
.card .card-icon
{
    text-align: center;
    position:absolute;
    top: 5%;
    right: 5%;
    width: 32px;
    height: 32px;
}
.card .card-sale
{
    position:absolute;
    top: 5%;
    left: 5%;
    background-color: 
    #30A4D5;
    width: 51px;
    height: 22px;
    border-radius: 20px;
}
.card .card-END
{
    position:absolute;
    bottom: 5%;
    left: 4%;
}
.card .card-END2
{
    position:absolute;
    bottom: 0%;
    right: 5%;
}
.STARS{
    color: #F2A917;
}
.card .card-new
{
    position:absolute;
    top: 5%;
    left: 5%;
    background-color: 
    #E57C48;
    width: 51px;
    height: 22px;
    border-radius: 20px;
}
.card-body .SALLARY
{
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.section-four
{
    height: 60%;
    background-color: 
    #30A4D5;
}
.comment-icon
{
    position: absolute;
    top: 93%;
    left: 10%;
   
}
.CATEGORIES
{
    position: relative;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 17px 0 rgba(0, 0, 0, 0.11);
}
.CONTENT-CATEGORIES
{
    text-align: center;
    position: absolute;
    top: 0%;
    background-color: rgba(21, 20, 20, 0.5);
    width: 100%;
    height: 100%;
}
.CATEGORIES img 
{
    width: 100%;
    height: 100%;
    transition: .3s .2s transform;
}
.CATEGORIES:hover img
{
    transform: scale(2,2);
}
.parent{
    border-radius: 20px;
    overflow: hidden;
}
.parent img 
{
    transition: .3s .2s transform;
}
.parent:hover img
{
    transform: scale(2,2);
}
.BUTTONS{
    border: 2px solid #E57C48;
    background-color: white;
    color: #E57C48;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.BUTTONS:hover {
    background-color: #E57C48;
    color: white;
}

.last-section
{
    background-color: 
    #022B3D;
    width: 100%;
    height: 50%;
}
.BUTTON1-footer
{
    border: none;
    background-color: whitesmoke;
    color: #E57C48;
    padding: 5px 9px;
    font-size: 16px;
    cursor: pointer;
}
.BUTTON1-footer:hover{
    background-color: #E57C48;
    color: white;
}
.BUTTON2-footer
{
    border: none;
    background-color: #E57C48;
    color: white;
    padding: 5px 9px;
    font-size: 16px;
    cursor: pointer;
}
.BUTTON2-footer:hover{
    background-color:whitesmoke;
    color: #E57C48;
}
.card-iconfooter
{
    width: 32px;
    height: 32px;
    line-height: 33px;
}
.small-FOOTER
{
    width: 100%;
    height: 5%;
}
.section-seven
{
    width: 100%;
    height: 14%;
    opacity: .5;
}
.last-section h6{
    color: #E57C48;
    font-size:medium;
}
.last-section ul li a:hover
{
    color: #E57C48 !important;
}
.last-section a i:hover
{
    color: #E57C48 !important;
}
.footer-clients {
    padding: 30px 0;
}
.client-item {
    display: inline-block;
    width: 19%;
    padding: 10px;
    border: 2px solid;
}
.client-item img{ 
    width: 100%;
    height: 50px;
    object-fit: contain;
}